apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaskapp
  labels:
    app: flaskapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flaskapp
  template:
    metadata:
      labels:
        app: flaskapp
    spec:
      containers:
      - name: flaskapp
        image: 020866158197.dkr.ecr.us-east-1.amazonaws.com/flaskapp:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "1"
        env:
        - name: YAHOO
          valueFrom:
            secretKeyRef:
              name: mlflow-token-secret
              key: YAHOO

---
apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
spec:
  type: LoadBalancer
  selector:
    app: flaskapp
  ports:
    - name: http
      protocol: TCP
      port: 5000
      targetPort: 5000